body{
	margin :0;
	padding:0;
	text-align: center;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(pic2.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.button{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid transparent;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	font-size: 30px;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}

.contact-title{
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}

.contact-title h1{
	font-size: 40px;
	line-height: 10px;
}

.contact-title h2{
	font-size: 25px;
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid grey;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}

input{
	height: 45px;
}

form .submit{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}
