*{
	margin: 0;
	padding: 0;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("java.jpg");
	background-size: cover;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #000;
	color: #fff;
}
.logo img{
	float: left;
	width: 70px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 5%;
	left: 23%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 23px;
}
.title1{
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title1 h1{
	color: #fff;
	font-size: 70px;
}
.button{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid white;
	padding: 10px 30px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}

.dropbtn {
    color: white;
    padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #000;color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fff;color: black;}